/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header,
main {
    max-width: 1300px;
    margin: 3% auto;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/*-- header area style --*/
.section-of-header{
    background-color: #161616;
    border-radius: 30px;
}
.container-of-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftside-header{
    width: 40%;
    color: white;
}
.first-heading{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 0;
}
.first-paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.button1{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #DD0000;
    text-align: center;
    padding: 16px 25px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.8s;
}
.button1:hover{
    background: white;
    color: #DD0000;
}
.fa-arrow-right {
    margin-left: 10px;
}
.rightside-header {
    width: 50%;
    /* margin-bottom: -7px; */
}
.rightside-header img {
    display: block;
    width: 100%;
}
/*-- starting blog area --*/
.container-of-blogs {
    display: grid;
    grid-template-columns: 300px 1fr;
}
.leftside-blogs {
    display: flex;
    flex-direction: column;
    background: #161616;
    height: 300px;
    border-radius: 10px;
    width: 90%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.leftside-blogs a {
    text-decoration: none;
}
.first-blg-button {
    color: #161616;
    padding: 16px;
    background: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    width: 190px;
}

#red-blg-button{
    color: white;
    padding: 16px;
    background: #DD0000;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 190px;
}
/* -- blog right area -- */
.news-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blog {
    margin-right: 19px;
    margin-bottom: 19px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-sizing: border-box;
}
.blog-image {
    width: 100%;
}

/* match site-2nd website start style */
.match-details {
    padding: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.match-details p {
    margin: 0px 10px;
}

.match-image {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* match site-2nd website end style */

.news-information {
    padding: 13px;
}
.news-information-details a {
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 10px;
    padding: 5px 10px;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.news-information-details .news-information-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgb(22, 22, 22);
    margin-bottom: 0px;
}
.blog-icon {
    display: flex;
    align-content: center;
    align-items: center;
}
.blog-icon i {
    margin-right: 2%;
    color: #161616;
    font-size: 20px;
}
.blog-icon p {
    margin-right: 10%;
    color: rgba(22, 22, 22, 0.7);
}

.tab {
    text-align: center;
    margin-top: 30px;
}

.tab a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 12px 30px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 24px;
    display: none;
}

/* -- footer area --*/
footer {
    background-color: #161616;
    color: white;
    text-align: center;
}
.goal {
    position: relative;
    top: 50px;
    padding: 50px;
}
.goal-line {
    font-size: 40px;
}
.about-us {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
hr{
    margin-left: 50px;
    margin-right: 50px;
}
.about-us a {
    margin-right: 30px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    line-height: 24px;
    color: #B9B9B9;
    text-decoration: none;
    bottom: 43px;
}
.social-icon {
    color: white;
    position: relative;
    bottom: 65px;
}
.social-icon a i {
    font-size: 30px;
    border: 2px dotted white;
    padding: 10px 20px;
    border-radius: 50%;
    color: white;
    margin-right: 10px;
    transition: 0.2s;
}
.social-icon i:hover {
    transition: 3s;
    background-color: rgb(86, 212, 134);
    border: none;
}
/* media quary strating*/

/* for device like tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    header,
    main {
        max-width: 750px;
    }
    .first-heading {
        font-size: 50px;
        line-height: 45px;
        margin-bottom: 20px;
    }
    .button1 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .rightside-header img{
        width: 100%;
        display: block;
    }
    .container-of-blogs {
        display: flex;
        flex-direction: column;
    }
    .leftside-blogs {
        flex-direction: row;
        background: none;
        width: 100%;
    }
    .first-blg-button {
        border: 1px solid #B9B9B9;
        margin-right: 15px;
        margin-bottom: 0;
    }
    #red-blg-button {
        margin-bottom: 0;
    }
    .news-side {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .blog-image img {
        width: 100%;
    }
    .tab a {
        display: inline-block;
    }
    .goal {
        top: 20px;
        padding: 15px;
    }
    .about-us {
        flex-wrap: wrap;
    }
    .about-us a {
        margin-bottom: 15px;
    }
}

/* for mobile */
@media only screen and (max-width:688px) {
    header,
    main {
        max-width: 370px;
    }
    .container-of-header {
        flex-direction: column;
    }
    .leftside-header {
        width: 90%;
        text-align: center;
    }
    .first-heading {
        font-size: 30px;
        line-height: 40px;
    }
    .button1{
        margin-bottom: 25px;
    }
    .rightside-header {
        width: 80%;
        display: block;
    }
    .rightside-header img {
        display: block;
    }
    .container-of-blogs {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .leftside-blogs {
        background: white;
    }
    .first-blg-button {
        color: greenyellow;
        border: 1px solid #325233;
    }
    .first-blg-button:hover {
        color: greenyellow;
        border: none;
    }
    .news-side {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-image img {
        display: block;
        width: 100%;
    }
    .blog {
        display: contents;
    }
    .goal {
        top: 20px;
        padding: 0;
    }
    .about-us {
        flex-direction: column;
    }
}
/*  End of Assignment  */